.footer-background{
    background-color: #212121; 
    padding: 5vmin;
    font-family: 'Oswald', sans-serif;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-container span, .footer-container a{
    color: whitesmoke;
    font-size: 2.2vmin;
}

a.footer-link{
    text-decoration: none;
}

span.rachel{
    font-size: 2.3vmin;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 2vmin;
}

a.web-design{
    display: flex;
    justify-content: center;
    padding-top: 3.5vmin;
    color: gray; 
    font-size: 2vmin;
    text-decoration: none;
}