.footer-container{
    background-color: #212121;
    display: flex;
    flex-direction: row;
    gap: 20vmin;
    justify-content: space-evenly;
    padding: 8vmin;
}

.footer-container span, .footer-container a{
    color: whitesmoke;
    font-size: 2.2vmin;
}

a.instagram{
    text-decoration: none;
}

span.rachel{
    font-size: 2.3vmin;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 2vmin;
}