.home-container{
    background-color: #b2ac88;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    padding: 15vmin 4vmin 15vmin 4vmin;
    gap: 10vmin;
}

.home-slogan{
    display: flex;
    flex-direction: column;
}

.home-slogan h1{
    color: whitesmoke;
    font-size: 13.4vmin;
    padding-bottom: 7.5vmin;
    margin: 0px;
}
.home-slogan a{
    color: whitesmoke;
    font-size: 2.2vmin;
    text-decoration: none;
}

.home-slogan button{
    height: 7.5vmin;
    width: 15vmin;
    border: 0.3vmin solid black;
    border-radius: 2vmin;
    /* background-color: #1d4130; */
    background-color: #526b53;
}

.home-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vmin;
}

.home-images img{
    height: 45vmin;
    width: 43vmin;
    border-radius: 1.5vmin; 
    border: 0.3vmin solid black;
    padding: 2vmin;
}

img.image-top{
    margin-bottom: 16vmin;
}
img.image-bottom{
    margin-top: 16vmin;
}

@media only screen and (max-width: 1200px) {
    .home-container{
        padding-left: 10vmin;
        padding-right: 10vmin;
    }
    .home-slogan{
        text-align: center;
    }
    .break-hide{
        display: none;
    }
} 