.pricing-container{
    padding: 10vmin;
    font-family: 'PPMori';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing-container h2{
    font-size: 2.5vmin;
    line-height: 4vmin;
}
.pricing-container h3{
    font-size: 2.6vmin;
    margin-top: 3vmin;
    color: #eeede5;
}

/* space between upper and middle sections */
.pricing-note{
    padding-bottom: 10vmin;
}

/* flex for three boxes with services + price */
.pricing-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8vmin;
}

/* font size + styling for three price boxes */
.pricing-boxes li, .pricing-boxes span{
    font-size: 2.1vmin;
    color: #eeede5;
    list-style-type: none;

}
.pricing-note p{
    font-size: 2.1vmin;
    line-height: 5vmin;
}
.pricing-boxes li{
    margin-bottom: 2.5vmin;
}

li.needs-info{
    margin-bottom: 0;
}
li.add-info{
    font-size: 1.9vmin;
}

/* styling for three boxes with services + price */
.box-haircuts, .box-color, .box-light{
    height: 70vmin;
    width: 52vmin;
    border-radius: 4vmin; 
    border: 0.2vmin solid black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #526b53;
    padding: 0 5vmin 0 5vmin;
}

/* hover effect on services boxes */
.box-haircuts:hover, .box-color:hover, .box-light:hover{
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    /* transform creates illusion of box being lifted */
    transform: translateY(-5px);
}

/*  text styling for services + price */
.box-haircuts h3, .box-color h3, .box-light h3{
    text-align: center;
}
.right{
    float: right;
}

