.schedule-container{
    background-color: #eeede5;
    /* background-color: #526b53; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4vmin;
    justify-content: center;
    padding: 8.5vmin;
}

/* font size ------------------ */
.schedule-container h2{
    font-size: 2.4vmin;
    text-align: center;
    margin-bottom: 2.8vmin;
}
.schedule-container p, li{
    font-size: 2.2vmin;
    line-height: 3vmin;
}
/* left indent for lists ---------- */
.schedule-container li{
    margin-left: 2vmin;
    list-style: circle;
}

/* box for schedule + box for policies */
.schedule-box{
    width: 40vmin;
    border-radius: 4vmin; 
    /* border: 0.4vmin solid #1d4130; */
    /* background-color: #cea4a9; */
    background-color: whitesmoke;
    padding: 5vmin; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    /* margin-bottom: 6vmin; */
}

p.phone-number{
    margin-top: 2vmin;
}



